.avatar {
	width: 150px;
	height: 150px;
}

.profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 100px;
	text-align: center;
}

.userProfile {
	width: 500px;
}

.profile h1 {
	margin-top: 5px;
}

.bioTitle {
	font-weight: bold;
}

.bioText {
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(100, 100, 100);
	border: 1px solid rgb(168, 168, 168);
	padding: 20px;
	margin: 10px 60px 10px 60px;
}

.userProfile button {
	background-color: rgb(255, 92, 92);
	width: 100px;
	height: 30px;
	border-radius: 5px;
	font-weight: bold;
	margin-top: 10px;
}

.userProfile button:hover {
	opacity: 0.9;
	transition: 0.1s;
}
